include ../modules/**/*.jade
include ../elements/**/*.jade

extends ../layouts/default

block meta
  title ginetta-academy
  //- TODO: add you page meta tags

block body
  section.about
    .row
      .small-6.small-centered.medium-6.medium-centered.large-2.large-uncentered.columns
        img(src=data.index.header.logo)
    .row.padded
      .small-8.columns.small-centered.text-center
        .header
          h1= data.index.header.title
          p= data.index.header.subtitle
    .row.padded.text-center
      .large-4.columns.large-centered.small-8.small-centered
        include ../partials/signup.jade

  section.benefits
    .row
      .small-8.columns.small-centered.text-center
        h2= data.index.benefits.title
        ul
          each val in data.index.benefits.content
            .large-4.columns
              img(src='/content/images/index/sketchnote.jpg')
              li= val

  section.testimonial
    .row
      .large-8.columns.large-centered.text-center
        blockquote= data.index.testimonial.text
    .row.padded
      .large-8.columns.large-centered.text-center
        img(src=data.index.testimonial.image).avatar
    .row
      .large-8.columns.large-centered.text-center
        strong= data.index.testimonial.name

  section.competences
    .row
      .small-8.columns.small-centered
        .competences-header
          h2= data.index.competences.title
          p= data.index.competences.intro
        .competences-listing
          ul
            each item in data.index.competences.items
              .row
                li
                .small-12.columns.large-3.medium-3
                  img(src=item.image)
                .small-12.columns.large-9.medium-9
                  h3= item.subtitle
                  p= item.text

  section.join
    .row.padded.text-center
      .small-8.columns.small-centered.text-center
        h2= data.index.join.title
    .row.padded.text-center
      .large-4.columns.large-centered.small-8.small-centered
        include ../partials/signup.jade

  footer
    .row
      .small-4.columns
        ul
          each item in data.index.footer.links
            li= item
      .small-4.columns
        ul
          each item in data.index.footer.social
            li= item
      .small-4.columns
        ul
          each item in data.index.footer.address
            li= item

    .row.padded
      .small-12.columns.small-centered.text-center
        img(src='/content/images/index/ginetta_logo.svg')
