.signup
  #mc_embed_signup
    form.validate(
      action="//ginetta.us2.list-manage.com/subscribe/post?u=f85cec9f0072f44befae4d9a1&amp;id=9a261a98b8"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      target="_BLANK")
      #mc_embed_signup_scroll
        .input-group
          input#mce-EMAIL.input-group-field.required.email(
            type='email'
            value=''
            name='EMAIL'
            placeholder='Get notified when we launch')
          .input-group-button
            input.button#mc-embedded-subscribe(
              type='submit'
              value='Subscribe'
              name='Subscribe'
              )
